.container {
  display: flex;
  justify-content: center;

  @media only screen and (max-width: 800px) {
    padding: 3px;
  }
}

.containerSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
  width: 100%;
  max-width: 350px;

  @media only screen and (max-width: 800px) {
    max-height: 50px;
  }
  @media only screen and (max-width: 400px) {
    border: 0;
    padding: 0;
  }
}

.button {
  max-height: 40px;
  margin-left: 10px;
}
