@import '_app.scss';

.form {
  background: $greyish;

  max-width: 91px;
  max-height: 41px;

  border: 1.5px solid black;
  margin-top: 8px;

  @media only screen and (max-width: 500px) {
    min-width: 76px;
  }
}

.accordionSummary {
  display: flex;
  flex-direction: center;
}

.summaryTypography {
  margin-left: -5px;

  @media only screen and (max-width: 500px) {
    font-size: 0.8em;
  }
}

.dropdownIcon {
  margin-left: -13px;
  margin-right: -13px;
}

.accordionDetails {
  display: flex;
  flex-direction: column;

  min-width: 500px;
  margin-top: -10px;
  margin-left: -400px;

  background: rgb(184, 223, 241);
  border: 1.5px solid black;

  @media only screen and (max-width: 560px) {
    margin-left: -222px;
    min-width: 0;
    width: 270px;
  }
}

.resetCont {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 20px;
}

.techStack {
  display: flex;
  flex-wrap: wrap;
}
