@import '_app.scss';

.profileCont {
  @extend .flex-solo;

  align-self: center;

  border: solid black 2px;
  border-radius: 3px;
  cursor: pointer;

  padding: 8px 25px;
  margin-right: 20px;
  margin-left: 20px;

  transform: scale(1.01);
}

.profileCont:hover {
  background: rgba(235, 201, 201, 0.185);
  transform: scale(1.02);
  transition: background 0.3s;
}

.profileLabel {
  align-self: center;
  padding-left: 5px;
}
