.container {
  border: black solid 3px;
  padding: 50px;
  background-color: rgb(42, 212, 147);
  min-height: 80vh;
  margin-top: 20px;
}

.containerLabel {
  padding-bottom: 20px;
}

.containerName {
  display: flex;
}

.containerDesc {
  padding: 20px 0px;
}

.containerReview {
  padding: 30px 0px;
}

.desc {
  margin-top: 30px;

  white-space: pre-wrap;
}
