@import '_app.scss';

.container {
  text-shadow: none;
}

.header {
  color: white;
  font-weight: 600;
  margin-top: 50px;

  @media only screen and (max-width: 400px) {
    font-size: 3rem;
  }
}

.formSource {
  background-color: white;
  min-width: 150px;
}

.datePicker {
  background-color: white;
  margin-left: 15px;
}

.submitCont {
  @extend .flex-mid-full;

  padding-top: 15px;
}

.submit {
  max-width: 250px;
  align-self: center;
}
