@import '_app.scss';

.main {
  @extend .flex-mid-full;
}

.centerCont {
  box-sizing: border-box;
  background-color: rgb(56, 67, 98);
  border: solid black 2px;
  padding-top: 7vh;
  min-height: 100vh;
  max-width: 1200px;
  width: 100%;
}
