.form {
  max-width: 120px;
  max-height: 46px;

  border: 1.5px solid black;
  margin-top: 8px;
}

.accordionSummary {
  margin-left: 5px;
}

.accordionDetails {
  display: flex;
  flex-direction: column;

  min-width: 500px;
  margin-top: -10px;
  margin-left: -400px;

  background: rgb(184, 223, 241);
  border: 1.5px solid black;
}

.techStack {
  display: flex;
  flex-wrap: wrap;
}
