@import '_app.scss';

.main {
  @extend .flex-mid-full;
  height: 100vh;
}

.container {
  @extend .flex-mid-full;
  flex-direction: column;
  background: rgb(210, 233, 177);
  padding: 40px;
  border: 3px solid black;
}

.form {
  @extend .flex-mid-full;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  margin: 20px;
}

.forgot {
  cursor: pointer;
}
