@import '_app.scss';

.container {
  background-image: $main-gradient;
  box-shadow: 1px -3px 5px 0px rgba(0, 0, 0, 0.8),
    inset 3px -3px 5px 0px rgba(241, 239, 239, 0.8);

  border: black 3px solid;
  border-radius: 6px;

  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.containerInfo {
  display: flex;
  justify-content: space-between;
}

.containerName {
  @extend .big-text-shadow;
  display: flex;
}

.typographyName {
  @media only screen and (max-width: 400px) {
    font-size: 1.5em;
  }
}

.tags {
  margin-top: 10px;
}

.description {
  white-space: pre-wrap;
}

.bottomCont {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;

  max-height: 50px;

  overflow: hidden;
}
