@import '_app.scss';

.main {
  padding: 0 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 3px;

  border: black 2px solid;
  background-color: rgb(42, 212, 147);
}
