.main {
  padding: 0 5px;
}

.container {
  background-color: rgb(42, 212, 147);
  border: black 3px solid;
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.containerName {
  display: flex;
  justify-content: space-between;
}

.pagination {
  margin: 10px;
  padding: 3px;

  border: black 2px solid;
  background-color: rgb(42, 212, 147);
}
