.container {
  border: black solid 3px;
  padding: 50px;
  background-color: rgb(42, 212, 147);
  min-height: 40vh;
  margin-top: 20px;
}

.topContainer {
  display: flex;
  min-height: 180px;
}

.username {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  max-width: 100px;
  max-height: 100px;
  width: 100%;
  height: 100%;
}

.buttonUsername {
  border: solid black 1px;
  margin: 15px;
  margin-top: 50px;
}
