@import '_app.scss';

.container {
  @extend .flex-mid-full;
  flex-direction: column;

  margin-top: 30px;
  padding: 40px;

  background: $main-gradient;
  border: 3px solid black;
  border-radius: 3px;
  box-shadow: 1px 7px 6px 0px rgba(0, 0, 0, 0.8);
}

.form {
  @extend .flex-mid-full;
  flex-direction: column;

  max-width: 400px;
  width: 100%;
  margin: 20px;

  text-shadow: none;
}
