.main {
  margin-top: 23px;
}

.submitCont {
  display: flex;
  justify-content: space-between;

  margin-top: 13px;
}

.inputField {
  text-shadow: none;
}

.submitBtn {
  max-width: 320px;
  width: 100%;
}
