@import '_app.scss';

.main {
  @extend .flex-mid-full;
  height: 85vh;
  flex-direction: column;
  justify-content: center;
}

.icon {
  font-size: 170px;
}

.text {
  padding: 30px;

  @extend .small-text-shadow;
  color: $greyish;
  text-align: center;
}
