@import '_app.scss';

.main {
  @extend .flex-mid-full;
  height: 100vh;
}

.container {
  @extend .flex-mid-full;
  flex-direction: column;

  padding: 40px;

  background: $main-gradient;
  border: 3px solid black;
  border-radius: 3px;
  box-shadow: 1px 7px 6px 0px rgba(0, 0, 0, 0.8);
}

.typographyLogin {
  color: $greyish;
  @extend .big-text-shadow;
}

.form {
  @extend .flex-mid-full;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  margin: 20px;
}

.btnGithub {
  background: rgb(49, 49, 49);
}

.btnGithub:hover {
  background: rgb(0, 0, 0);
}

.forgot {
  cursor: pointer;
}
