//@import '_app.scss';

$main-gradient: radial-gradient(
  circle farthest-corner at 23.1% 33.3%,
  rgba(33, 222, 123, 1) 0%,
  rgba(39, 180, 106, 1) 90%
);

$greyish: #e9e7e4;

body {
  background-color: rgb(107, 132, 148);
  box-shadow: inset 0px 13px 13px 0px rgba(0, 0, 0, 0.8),
    inset 0px -13px 13px 0px rgba(0, 0, 0, 0.8);
  overflow-y: scroll;
}

.flex-solo {
  display: flex;
}

.flex-mid-full {
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-font {
  color: white;
}

.greyish-font {
  color: #e9e7e4;
}

.small-text-shadow {
  text-shadow: 1px 2px 3px #3d3c3cea;
}

.big-text-shadow {
  text-shadow: 1px 3px 2.5px #3d3c3c;
}
