//@import '_app.scss';

body {
  background-color: rgb(107, 132, 148);
}

.flex-solo {
  display: flex;
}

.flex-mid-full {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-page {
  @extend .flex-mid-full;
  height: 100vh;
}

.white-font {
  color: white;
}
