@import '_app.scss';

.recommend {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 150px;
  max-height: 55px;

  color: $greyish;
  background: rgb(214, 205, 205);
  border: 3px solid rgba(0, 0, 0, 0.356);

  @media only screen and (max-width: 420px) {
    max-height: 45px;
    max-width: 110px;
  }
}

.typography {
  @media only screen and (max-width: 420px) {
    font-size: 0.75rem;
  }
}

.icon {
  color: $greyish;
  margin-right: 8px;

  @media only screen and (max-width: 420px) {
    font-size: 1.1rem;
  }
}
