.container {
  @media only screen and (max-width: 800px) {
    padding: 0;
  }
}

.containerReview {
  padding: 15px 30px;
  margin: 20px 0;

  background: rgba(0, 0, 0, 0.1);
  border: 2px solid black;
  border-radius: 3px;
  box-shadow: 1px 5px 7px 0px rgba(0, 0, 0, 0.8);

  @media only screen and (max-width: 800px) {
    padding: 10px 12px;
    margin: 10px 0;
  }
}

.nameCont {
  display: flex;
  justify-content: space-between;

  padding-bottom: 20px;
}

.author {
  text-shadow: 1px 1px 1px #3d3c3c85;
}

.typographyReviews {
  padding: 30px 0;

  @media only screen and (max-width: 500px) {
    padding: 10px 0;
  }
}

.singleReview {
  padding-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 3px;

  border: black 2px solid;
}
